@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manuale:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  position: relative;
  background: var(--Black-Primary, #000);
}

/* Buttons */

.primary-button {
  height: 56px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: var(--Primary-primary, #cc3102);
  text-decoration: none;
  transition: all 0.3s;
  color: var(--Font-font, #f8f8f8);
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.primary-button:hover {
  background: var(--Secondary-bg-50, #e7e6e6);
  color: var(--Primary-primary, #cc3102);
}

.primary-button:active {
  background: var(--Secondary-bg-300, #5c5554);
  color: var(--Font-font, #f8f8f8);
}

/* Navbar */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 180px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #222;
  background: rgba(36, 36, 36, 0.6);
  backdrop-filter: blur(2px);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-left img {
  height: 56px;
  object-fit: cover;
  flex-shrink: 0;
}

.navbar-left a {
  display: flex;
  align-items: center;
  color: var(--Font-font, #f8f8f8);
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-left a:hover {
  color: var(--Primary-primary, #cc3102);
}

/* Challenges */

.challenges {
  width: 100%;
  height: 648px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: linear-gradient(0deg, rgba(20, 20, 21, 0) 0%, #cc3102 100%);
}

.challenges-container {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.challenges-container h2 {
  color: var(--Font-font, #f8f8f8);
  font-family: Manuale;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.challenges-container h2 svg {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  transform: translateY(20px);
  margin: 0px 20px;
}

.challenges-container p {
  max-width: 320px;
  color: rgba(250, 250, 250, 0.6);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.challenges-container a {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--Font-font, #fff);
  text-decoration: none;
  transition: all 0.3s;
}

.challenges-container a:hover {
  background: #cc3102;
}

.challenges-container a svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.challenges-container a:hover svg path {
  stroke: #fff;
}

/* Blogs */

.blogs-banner {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: #fff;
  font-family: "Space Grotesk";
}

/* Blog */

.blog-banner {
  width: 100%;
  height: 80svh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blog-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.blog-banner h1 {
  width: 100%;
  padding: 0px 80px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--Font-font, #f8f8f8);
  text-align: center;
  font-family: Manuale;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Application */

.application {
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 160px;
}

.application-details {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.application h1 {
  color: #f8f8f8;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.application-details form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.form-input-seperator {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 18px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.input-container label {
  color: #f7f7f7;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-container input {
  width: 100%;
  display: flex;
  padding: 13px 18px 16px 18px;
  align-items: center;
  align-self: stretch;
  border: 1px solid #2e2e30;
  background: #181818;
  color: #8c94a3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
}

.input-container input:not(:placeholder-shown) {
  color: #fff;
}

.input-with-icon {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-icon .input-icon {
  position: absolute;
  left: 12px;
  pointer-events: none;
}

.input-with-icon input {
  padding: 13px 18px 16px 48px;
}

.input-container select {
  width: 100%;
  display: flex;
  padding: 13px 18px 16px 18px;
  align-items: center;
  border: 1px solid #2e2e30;
  background-color: #181818;
  color: #8c94a3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  appearance: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path d='M13 6L8 11L3 6' stroke='%23A1A5B3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-size: 16px;
  transition: all 0.3s;
}

.input-container select:valid {
  color: #fff;
}

.application button {
  width: 100%;
  display: flex;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border: 1px solid #f8f8f8;
  background: #f8f8f8;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s;
}

.application button:hover {
  background: #000;
  color: #fff;
  border: 1px solid #f8f8f8;
}

.application-payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.application-payment form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 48px;
}

.form-inputs {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.form-radio-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.form-radio-option {
  width: 100%;
  display: flex;
  padding: 12px 24px;
  gap: 24px;
  border: 1px solid #2e2e30;
  background: #181818;
}

.form-radio-option input[type="radio"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
}

.form-radio-option input[type="radio"]:checked {
  background-color: #00c853;
  border-color: #00c853;
}

.form-radio-option input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 7px;
  transform: translate(-50%, -50%);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7' viewBox='0 0 10 7' fill='none'%3E%3Cpath d='M9 0.75L3.49997 6L0.75 3.375' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: contain;
}

.form-radio-option-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.form-radio-option h2 {
  color: #f8f8f8;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
}

.form-upi-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.form-radio-option p {
  color: #f8f8f8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-upi-options {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.form-upi-options img {
  display: flex;
  width: 34px;
  height: 34px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  border-radius: 40px;
  border: 1px solid var(--Foundation-Whites-white-300, #f6f6f6);
  background: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.form-upi-options img:hover {
  background: #d6d6d6;
}

.form-upi-input {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.form-upi-input input {
  display: flex;
  width: 100%;
  max-width: 362px;
  padding: 13px 18px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #2e2e30;
  background: #333232;
  color: #8c94a3;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.form-upi-input input:not(:placeholder-shown) {
  color: #fff;
}

.form-upi-input button {
  width: auto;
  display: flex;
  height: 50px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: #f8f8f8;
  color: #111;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.form-upi-line {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.form-upi-line hr {
  width: 100%;
  border: 1px solid #fff;
}

.form-upi-line span {
  color: #f8f8f8;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-summary {
  width: 40%;
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border: 1px solid #2e2e30;
  background: #181818;
}

.form-summary-course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.form-summary-course h2 {
  color: #f8f8f8;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.form-summary-course-details {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-summary-course-details img {
  width: 100px;
  height: 75px;
  object-fit: cover;
}

.form-summary-course-details-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  gap: 12px;
}

.form-summary-course-details-text p {
  color: #bf9c00;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
}

.form-summary-course-details-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.form-summary-course-details-heading p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.form-summary-course-details-heading p span {
  color: #a1a5b3;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.form-summary-course-details-heading h3 {
  color: #f8f8f8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.form-summary hr {
  width: 100%;
  border: 1px solid rgba(63, 63, 63, 0.5);
}

.form-summary-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.form-summary-price-set {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.form-summary-price-set p {
  color: #fbfbfb;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.form-summary-price-set span {
  color: #f8f8f8;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.form-summary-price-set h4 {
  color: #f8f8f8;
  text-align: right;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.24px;
}

.application-confirmation {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.application-confirmation p {
  color: var(--Font-font, #f8f8f8);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.application-confirmation svg {
  width: 240px;
  height: 240px;
  aspect-ratio: 1/1;
}

.application-confirmation h1 {
  color: var(--Font-font, #f8f8f8);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.application .application-confirmation button {
  width: auto;
  align-self: auto;
  border-radius: 8px;
  border: 1px solid #f8f8f8;
}

.application-confirmation-buttons {
  display: flex;
  width: 214px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.application-confirmation .application-confirmation-buttons button {
  width: 100%;
}

.application .contact-us {
  border-radius: 8px;
  border: 1px solid var(--Font-font, #f8f8f8);
  background: none;
  color: var(--Font-font, #f8f8f8);
}

.application .contact-us:hover {
  background: #fff;
  color: #000;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  padding: 0px 80px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer-container {
  width: 100%;
  display: flex;
  padding: 80px 0px 64px 0px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  border-top: 1px solid rgba(79, 79, 79, 0.8);
}

footer .logo {
  height: 77px;
  object-fit: cover;
  flex-shrink: 0;
}

.footer {
  display: flex;
  align-items: flex-start;
  gap: 200px;
}

.footer nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.footer nav a {
  color: var(--Font-font, #f8f8f8);
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
  flex-shrink: 0;
}

.footer nav a:hover {
  color: var(--Primary-primary, #cc3102);
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.footer-right p {
  color: var(--Font-font, #f8f8f8);
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
}

.footer-right p a {
  text-decoration: none;
  transition: all 0.3s;
  color: var(--Font-font, #f8f8f8);
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
}

.footer-right p a:hover {
  color: #ffbf00;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  /* Application */

  .application {
    padding: 48px 20px;
  }

  .application h1 {
    color: #f8f8f8;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .application button {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  .application-payment form {
    flex-direction: column-reverse;
  }

  .form-summary {
    width: 100%;
  }

  .form-summary-course h2 {
    color: #f8f8f8;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .form-summary-price-set h4 {
    color: #f8f8f8;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .form-inputs {
    width: 100%;
  }

  .form-radio-option {
    padding: 12px;
  }

  .form-radio-option p {
    display: none;
  }

  .form-radio-option p:nth-of-type(1) {
    display: flex;
    width: calc(100% - 124px);
  }

  .form-radio-button {
    width: auto;
    flex-grow: 1;
  }
}
